img {
    height: auto;
    margin: auto;
    padding: 0;
}

h3.post_link {
    margin: 0.35rem 0;
}

.post_date {
    margin-right: 0.3rem;
    maigin-lefg: 0.25rem;
}

span.post_time {
    margin-right: 0.1rem;
}

a.post_tag.button.button_translucent {
    margin: 0.54rem 0.7rem 0.35rem 0.14rem;
}

html {
    --bg: #22272e;
    --light: #adbac7;
}

.nav_header {
    background-color: #2d333b;
}

.nav_body {
    background-color: #2d333b;
}

.color_mode {
    display: none;
}

.button {
    transition: .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition-property: background-color, border, color;
}


a.post_tag.button.button_translucent:hover, a.post_tag.button.button_translucent:focus {
    background: #46954a;
    border: 1px solid #46954a;
}

a.button.mt-1:hover, abutton.mt-1:focus, a.excerpt_more.button:hover, a.excerpt_more.button:focus {
    background: #273549;
    border: 1px solid #273549;
    color: #4b9af1;
}

.button_translucent {
    background: #273549;
    color: #4a9af1;
    border: 1px solid transparent;
    font-weight: 500;
}
